name: release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Python 3.10.18
      uses: actions/setup-python@v1
      with:
        python-version: 3.10.18
    - name: Get full Python version
      shell: bash
      run: echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: 1.1.10
    - name: Bootstrap poetry
      shell: bash
      run: |
        curl -sSL https://install.python-poetry.org | python -
    - name: Update PATH
      shell: bash
      run: echo "$HOME/.local/bin" >> $GITHUB_PATH
    - name: Build project for distribution
      shell: bash
      run: poetry build
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/*"
        token: ${{ secrets.GITHUB_TOKEN }}
        draft: false
        prerelease: steps.check-version.outputs.prerelease == 'true'
